<% layout('layout') -%>

<h2>Bower</h2>

<pre>
bower install jquery
bower install bootstrap
bower install angular
bower install angular-route
</pre>

<p>
    bower_components/jquery/dist/jquery.min.js
    ...
</p>

<nav>
    <ul class="pager">
        <li><a href="/index"><span aria-hidden="true">&larr;</span> Home</a></li>
    </ul>
</nav>