<% layout('layout') -%>

<h2>Gulp</h2>

<pre>
// Modules
var gulp = require('gulp');

    ...

// Watch
gulp.task('watch', function() {
    ...
});
</pre>

<nav>
    <ul class="pager">
        <li><a href="/index"><span aria-hidden="true">&larr;</span> Home</a></li>
    </ul>
</nav>