<% layout('layout') -%>

<h1 id="title"> <%= title %> </h1>

<h2>Welcome <%= login %></h2>

<h3>Stack</h3>

<ul>
    <li>NodeJS, Express</li>
    <li>Gulp</li>
    <li>Bower</li>
    <li>JQuery</li>
    <li>Bootstrap</li>
</ul>

<pre>
    bower install jquery
    bower install bootstrap
    bower install angular
    bower install angular-route
</pre>

<p>
    bower_components/jquery/dist/jquery.min.js

</p>

<pre>
    npm install --save-dev ejs
</pre>

<p>
    EJS : Embedded JavaScript templates
</p>
