<% layout('layout') -%>

<h1 id="title">Technos</h1>

<h2>Welcome <%= login %></h2>

<h3>Stack</h3>

<ul>
    <li><a href="/nodejs">NodeJS, Express</a></li>
    <li><a href="/gulp">Gulp</a></li>
    <li><a href="/bower">Bower</a></li>
    <li><a href="https://jquery.com/" target="_blank">JQuery</a></li>
    <li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
</ul>

