<% layout('layout') -%>

<h2>NodeJS (express)</h2>

<ul>
    <li>
        Localhost
        <pre>
$ nodemon
        </pre>
    </li>
    <li>
        OVH
        <pre>
- cd /root/project-nodejs-express-gulp
- Lancer node en daemon :
    - npm install forever -g
    - forever start bin/www
- Stopper node :
    - forever stop bin/www
        </pre>
    </li>
</ul>


<nav>
    <ul class="pager">
        <li><a href="/index"><span aria-hidden="true">&larr;</span> Home</a></li>
    </ul>
</nav>