<% layout('layout') -%>

<h2>NodeJS (express)</h2>

<pre>
$ nodemon
</pre>

<nav>
    <ul class="pager">
        <li><a href="/index"><span aria-hidden="true">&larr;</span> Home</a></li>
    </ul>
</nav>